DB_POSTGRES_HOST=db
DB_POSTGRES_USER=postgres
DB_POSTGRES_PASSWORD=password
DB_POSTGRES_PORT=5432

MICROSERVICO_AUTENTICACAO_POSTGRES_DB=microservico_autenticacao_development
MICROSERVICO_AUTENTICACAO_RAILS_ENV=development
MICROSERVICO_AUTENTICACAO_RAILS_MASTER_KEY=cc95bb47b25344e6cd045f97ecbf3ebd
MICROSERVICO_AUTENTICACAO_RAILS_PORT=3001
