DB_POSTGRES_HOST=db
DB_POSTGRES_DB=postgres
DB_POSTGRES_USER=postgres
DB_POSTGRES_PASSWORD=password
DB_POSTGRES_PORT=5432

REDIS_PORT=6379

MN_APP_HOST=http://localhost
MN_POSTGRES_DB=microservico_notificacao_development
MN_RAILS_ENV=development
MN_RAILS_MASTER_KEY=cc95bb47b25344e6cd045f97ecbf3ebd
MN_RAILS_PORT=3030
MN_SECRET_KEY_BASE=d4b2e5df7d5024fe13ab0ddd0901183ba8697916dd9839b8c17be1785bb62a116cf0e72d83c024846f4c786cf393ffaa07b63f0c78b342a121d2efea82e4bbf9
SISTEMA_PRINCIPAL_URL=http://sistema_principal:3010
