DB_POSTGRES_HOST=db
DB_POSTGRES_DB=postgres
DB_POSTGRES_USER=postgres
DB_POSTGRES_PASSWORD=password
DB_POSTGRES_PORT=5432

REDIS_PORT=6379

SP_APP_HOST=http://localhost
SP_POSTGRES_DB=sistema_principal_development
SP_RAILS_ENV=development
SP_RAILS_MASTER_KEY=44565cbe58cde3d2428fff17af70e5bb
SP_RAILS_PORT=3010
SP_SECRET_KEY_BASE=469b9f4fd653a3c61cf0549b170df12b72fc1f19dcbc00ac68b891046698f02c6d8414d9d09321389f429891d4dec0a632509f74318c6d6251b1bbcbbbcf1cfe
MICROSERVICE_AUTENTICACAO_URL=http://microservico_autenticacao:3020
